{{ define "modal-seguidores" }}
<div class="class modal fade" id="modal-seguidores">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="class modal-header">
                <h2>Seguidores</h2>
            </div>
            <div class="class modal-body">
                {{ range .Seguidores }}
                <a href="/usuarios/{{ .ID }}"> {{ .Nick }}</a><br/>
                {{ else }}
                    <p class="class text-muted text-center">
                        Usuário não tem nenhum seguidor...
                    </p>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
