<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <title>Home</title>
</head>
<body>
    <h2>Página principal</h2>

    {{ range .}}
        <h3> {{.Titulo}}</h3>
        <h4>{{.Conteudo}}</h4>
        <h5>Autor:{{.AutorNick}}</h5>
        <h5>Curtidas: {{.Curtidas}}</h5>
        <hr>
    {{ end }}
    <marquee>ebaaaaaaaaaaaaaaa</marquee>
</body>
</html>