<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADA - Login</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
</head>

<body>
    <div class="top-nav">
        <a href="/login" class="active">A.D.A</a>
    </div>
    <div class = "container-login">
        <div>
            <form class="ada-form" id="login">
                <span>Seja bem vindo ao A.D.A</span>
            </br>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu email" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <button type="submit" class="btn-ada">Login</button>
                </br>
                <a href="/criar-usuario"> Clique aqui para criar a sua conta </a>
            </form>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/login.js"></script>
</body>
</html>